<h1>Frequently Asked Questions</h1>
<hr>

<h2>What is this?</h2>
The inventory is a free listing of post-secondary education programs offered in Washington or online that prepare students for a career in health information technology or enhance the health information skill sets of those in other health-related or IT occupations. The listing is designed to provide pertinent information about each program—duration, cost, prerequisites, and typical career outcomes. It provides web contact information for each program to allow users to access more complete information.

<h2>Who is this for?</h2>
This document provides useful information to Washington residents who are considering a career in health information technology and informatics, either at the beginning of their careers or contemplating a mid-career change. It describes many educational and training options available to Washington residents and provides information to help prospective students make career decisions.

<h2>How do I use the inventory?</h2>
This inventory is an MS Excel Table document hosted online so it is sortable by column headings, but is unchangeable by users. The inventory is also pre-sorted into subcategories for your convenience by the certificate or degree that can be earned. To sort the contents, just click on the down arrow next to the column heading and the whole table will be sorted by that criterion in ascending or descending order (see online Excel help guides if you need instructions.) The inventory is designed so that you can identify programs that best meet your needs and priorities, then contact those institutions for more details or to apply for admission to a program. To help you reach the source institutions, their names are hotlinks to those institutions' websites. The names of the individual programs of study are also hotlinked. You can click on a hotlink and a new window will open up that website. Important details such as how fees are calculated or the specifics of internship and cooperative employment should be obtained from the institution/program directly. The inventory will be updated as new information is available, but for the most current and accurate information, contact the institution itself. This inventory is not intended as a definitive guide to be used in making any final decisions, rather as an introductory tool for potential HIT students in Washington State.

<h2>How are terms like 'informatics' and 'health information technology' defined?</h2>
These terms do not have universally-accepted definitions. To learn how a particular institution or program uses a given term, review its website and then contact the program.

<h2>How do programs make the list?</h2>
The inventory is not exhaustive, but includes those programs for which information was obtainable in the public domain. Several of the programs are listed by out-of-state institutions because they offer online or in-state instruction. If distant out-of-state institutions offer online programs, they are designated as "Online only" even if they offer on-campus options since this list is only for programs reachable from within Washington State's borders. Programs and institutions were excluded if they required out-of-state on-campus instruction or have scheduled their program for termination.

<h2>What institutions and programs are listed?</h2>
To make the list, programs have to be from a regionally accredited institutions offering professional and/or technical post-secondary health information education programs available to Washington State residents on in-state campuses, in adjacent metropolitan areas (e.g., Portland, Vancouver, Victoria) or online. Regional accreditation is as reported by institution. Program/degree accreditation is often not possible when programs are too young to have the necessary history.

<h2>How did you get the information for this list?</h2>
Information was gathered from the websites of the educational institutions offering degree or certification programs and from direct contact with representatives of those programs.

<h2>What if I discover incorrect/inaccurate/incomplete information in the inventory?</h2>
If you learn that content is incorrect, inaccurate, or obsolete, please use the comment section of the user feedback survey form. User feedback is one of the best tools to improve the accuracy and currency of the inventory.

<h2>What is WHIIEC?</h2>
The Washington Health Information Industry-Education Council (WHIIEC) is a voluntary forum of Washington employers (hospitals, health systems, medical practices, community/tribal clinics, insurers, public health agencies) and educational institutions (universities, community colleges, vocational/technical schools) working in the field of health information technology/health informatics. It is facilitated by the Health Care Policy division of the Washington State Health Care Authority (HCA). This is the HCA division that coordinates state health information policy. WHIIEC's purpose is to align the objectives and actions of health information employers and educators to ensure that students are provided the right skills for the job opportunities available and that employers' HIT staffing needs are met.