<ol class="breadcrumb">
  <li>{{#link-to 'application'}}Home{{/link-to}}</li>
  <li class="active">Frequently Asked Questions</li>
</ol>
<h1>Frequently Asked Questions</h1>
<hr>

<h4 class="p-t-20">What is WHIIEC?</h4>
The Washington Health Information Industry-Education Council (WHIIEC) is a voluntary group of Washington HIT employers and HIT educators.
<ul class="faq">
	<li>Employers represent hospitals, health systems, medical practices, community/tribal clinics, insurers, and public health agencies.</li>
	<li>Educators are from universities, community colleges, vocational/technical schools, and K-12 education.  All work in the field of health information technology.</li>
</ul>
 
The WHIIEC is facilitated by the Policy, Planning and Performance division of the Washington State Health Care Authority (HCA). This is the HCA division that coordinates state health information policy.
 
WHIIEC's purpose is to align HIT education with workforce demand.
 
<h4 class="p-t-20">What is this inventory?</h4>
The inventory is a list of college programs offered in Washington or online that prepare future workers in health information technology. These programs can also give new skill sets to workers in health-related or IT jobs so they can earn more or change careers. The list gives details about each program, including contacts to allow you to get more information.
 
<h4 class="p-t-20">Who is it for?</h4>
<ul class="faq">
	<li>Students considering a career in health information technology, either at the beginning of their careers or as a mid-career change.</li>
	<li>Educators in HIT who want help shaping their programs and finding their niche in HIT workforce development.</li>
	<li>HIT employers who want help understanding how the skills and experience graduates have gained from specific HIT programs fit with their open job positions.</li>
</ul>
 
<h4 class="p-t-20">How do I use the inventory?</h4>
<ol>
	<li>Click on the Inventory tab above.</li>
	<li>Check out any institution in the list on the left navigation bar by clicking the box next to it.</li>
</ol>

<p>- OR -</p>

Use the search window to get a list of specific types of programs, such as:
<ul class="faq">
	<li>Certificates</li>
	<li>Associate’s degree</li>
	<li>Bachelor’s degree</li>
	<li>Master’s degree</li>
	<li>Graduate Certificates</li>
	<li>PhD degree</li>
</ul>
 
Click on the title of a program in the list to get details about cost, outcomes, prerequisites, contact information, etc. Click the institution name to go to the institution’s home page.
 
Contact the institution itself for the most current and accurate information, including details not covered in the list, such as how fees are calculated, cost of books or the specifics of internships and cooperative employment.
 
The inventory list is updated periodically. The last update occurred on the date at the bottom of the page.
 
Disclaimer: This inventory is an introductory tool to HIT programs available to Washington State residents. Before making decisions, you should communicate directly with institution and program staff.
 
<h4 class="p-t-20">How are terms like ‘informatics’ and ‘health information technology’ defined?</h4>
Because the field is evolving, these terms do not have universally-accepted definitions.
 
The inventory uses the following definitions:
<ul class="faq">
	<li>informatics/analytics—the use of data to analyze anything relating to health information</li>
	<li>health information technology—any subject that uses both IT and health information with analytic content</li>
</ul>

To learn how a particular institution or program uses a given term, review its website and then contact the program.
 
<h4 class="p-t-20">What institutions are listed?</h4>
The inventory includes only regionally accredited institutions that:
<ul class="faq">
	<li>offer professional and/or technical post-secondary health information technology (HIT) education programs, and</li>
	<li>are available to Washington State residents without moving out of state. They can be on in-state campuses, in nearby areas reachable by driving daily (e.g., Portland, Vancouver, Victoria) or online.</li>
</ul>

Regional accreditation is as reported by institution. Many HIT programs are too new to yet have Program/degree accreditation.
 
<h4 class="p-t-20">How do programs make the list?</h4>
Programs make this list if they are accredited and available as per above, and also offer HIT education above entry-level coding skills.
 
All out-of-state institutions listed offer completely online programs or their in-state instruction is within daily driving distance of Washington borders.
 
If distant out-of-state institutions offer online programs, they are designated as “Online only” even if they offer on-campus versions of those same programs.
 
<h4 class="p-t-20">What programs are excluded from the list?</h4>
<ul class="faq">
	<li>Programs and institutions that require any distant out-of-state on-campus attendance.</li>
	<li>Programs that are currently active but have scheduled their program for termination have been left off the list.</li>
	<li>Institutions that are “diploma mills” without regional accreditation are also excluded.</li>
</ul>

Disclaimer: Since this is a rapidly changing field, the inventory doesn’t claim to capture all HIT education available.
 
<h4 class="p-t-20">How did you get the information for this inventory?</h4>
We collected this information from institutions’ websites, as well as email, phone or in-person conversations with program representatives.
 
<h4 class="p-t-20">What if I find incorrect information in the list?</h4>
If you learn that content is incorrect please send an email to HCAWHIIEC@hca.wa.gov
 
Your feedback is one of the best tools we have to improve the accuracy and currency of the inventory. Thank you in advance for your help.


<h4 class="p-t-20">Who made this website?</h4>
<strong>Roger Adams</strong> 
(<a href="https://www.linkedin.com/pub/roger-adams/57/327/b34" target="_blank">LinkedIn</a>)<br>
Twitter: <a href="https://twitter.com/rogdev" target="_blank">@rogdev</a><br>
GitHub: <a href="https://github.com/adamsrog" target="_blank">@adamsrog</a><br>