<div class="jumbotron">
	<div class="row">
		<div class="col-md-3">
			<img src="/assets/images/bellevuecollege.png" height=170>
		</div>
		<div class="col-md-9">
			<h2>WHIIEC Health Information Technology<br>Educational Resource Inventory</h2>
		</div>
	</div>
	<hr>
  <div class="row">
  	<div class="col-sm-12">
	  	<p>The inventory is a free listing of post-secondary education programs offered in Washington or online that prepare students for a career in health information technology or enhance the health information skill sets of those in other health-related or IT occupations. The listing is designed to provide pertinent information about each program—duration, cost, prerequisites, and typical career outcomes. It provides web contact information for each program to allow users to access more complete information.</p>
		  <p>{{#link-to 'programs' class="btn btn-primary btn-lg" role="button"}}View Inventory{{/link-to}} {{#link-to 'faq' class="btn btn-primary btn-lg" role="button"}}Frequently Asked Questions{{/link-to}}</p>
		</div>
  </div>
</div>